@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(251, 249, 249);
}

header {
    display: flex;
    height: 30%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./img/headerimg.webp");
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    h1 {
        font-family: "Press Start 2P", system-ui;
        font-size: 4em;
        color: rgb(247, 219, 219);
        letter-spacing: 3px;
    }

    h2 {
        font-size: 2em;
        color: rgb(247, 219, 219);
        font-family: "Play", sans-serif;
        font-weight: 400;
    }
}

#goToMapBtn,
#backToTopBtn {
    position: absolute;
    border: 1px solid white;
    position: fixed;
    z-index: 10;
    padding: 15px;
    margin: 15px;
    font-size: 1.1em;
    border-radius: 5px;
    background-color: #8d0746b8;
    color: white;
    backdrop-filter: blur(8px);
    text-transform: uppercase;
    transition: ease 0.3s;
}

#goToMapBtn {
    bottom: 0;
    left: 0;
}

#backToTopBtn {
    bottom: 0;
    right: 0;

    .fa-arrow-up {
        margin-left: 10px;
    }
}

#goToMapBtn:hover,
#backToTopBtn:hover {
    background-color: #8d0745;
    transition: ease 0.3s;
}



.filter-container {
    background-color: #8d0745;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 50px;

    .filter {
        display: flex;
        gap: 10px;

        label {
            font-family: "Play", sans-serif;
            font-weight: 700;
            font-size: 1.3em;
            color: rgb(247, 219, 219);
        }

        select {
            font-size: 1em;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            letter-spacing: 1px;
            border-radius: 5px;
            border: 1px solid pink;
        }

    }

}

.sorting-container {
    background-color: #8d0745;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px 0px 30px 0px;

    p {
        font-size: 1.5em;
        font-family: "Play", sans-serif;
        color: rgb(247, 219, 219);
    }

    .sorting-btn-container {
        display: flex;
        gap: 20px;

        button {
            font-size: 1em;
            padding: 10px 30px;
            background-color: white;
            border-radius: 2px;
            border: none;
            transition: ease 0.3s;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            letter-spacing: 1px;
        }

        button:hover {
            background-color: #400565;
            cursor: pointer;
            transition: ease 0.3s;
            color: white;
        }
    }
}

.results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 30px 60px 120px 60px;

    .no-results {
        text-align: center;
        grid-column: 1/-1;
        font-family: "Press Start 2P", system-ui;

    }

    .games {
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        background-color: white;
        box-shadow: -1px 1px 29px -7px rgba(227, 213, 213, 0.85);
        -webkit-box-shadow: -1px 1px 29px -7px rgba(227, 213, 213, 0.85);
        -moz-box-shadow: -1px 1px 29px -7px rgba(227, 213, 213, 0.85);
        transition: all 0.3s ease;
        padding: 5px;
        gap: 10px;

        .games-details {
            padding: 0 10px 10px 10px;
            width: 100%;
            display: flex;
            flex-direction: column;

            h2 {
                font-family: "Play", sans-serif;
                text-transform: uppercase;
                color: rgb(37, 2, 21);
                font-size: 1.4em;
                height: 60px;
            }

            h5 {
                font-family: "Play", sans-serif;
                font-weight: 400;
                font-size: 1.2em;
                margin-bottom: 10px;
            }

            .more-details {
                h4 {
                    font-family: "Press Start 2P", system-ui;
                    font-size: 0.9em;
                    letter-spacing: 2px;
                    margin-top: 20px;
                    color: rgb(37, 2, 21);
                }

                .games-further-details {

                    p {
                        font-family: "Play", sans-serif;
                        font-weight: 400;
                        margin-bottom: 5px;

                    }
                }



            }

        }
    }

    .swiper {
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        height: 250px;

        .swiper-wrapper {
            .games-image {
                width: 100%;
                object-fit: contain;
                height: 250px;
            }
        }

        .swiper-pagination {
            padding: 4px;
            background: rgba(141, 7, 70, 0.4);
            backdrop-filter: blur(10px);
            border-radius: 16px;
        }

        .swiper-pagination-bullet {
            background: rgb(247, 219, 219);
            width: 16px;
            height: 16px;
        }
    }
}

#map {
    width: 100%;
    height: 700px;
}

.map-header {
    margin-left: 20px;
    font-size: 3em;
    color: #8d0745;
    font-family: "Play", sans-serif;
    font-weight: 400;
}


.map-option-select {
    display: flex;
    gap: 50px;
    margin: 20px;
    font-family: "Play", sans-serif;


    .map-options {
        display: flex;
        gap: 10px;
        align-items: center;

        label {
            font-size: 1.5em;
        }

        select {
            font-size: 1em;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            letter-spacing: 1px;
            border-radius: 5px;
            padding: 5px;
            border: 2px solid #8d0745;

        }

        #mapOptionsSelectJb {
            background-color: rgb(252, 248, 233);
            border: 2px solid rgb(255, 196, 0);
        }
        #mapOptionsSelectEb {
            background-color: #f0f7ff;
            border: 2px solid #045bc4;
        }
    }
}

/* TABLET MEDIA QUERIE */
@media screen and (max-width: 1200px) {
    header {
        h1 {
            font-size: 3em;
        }
    }

    .filter-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .filter {
            flex-direction: column;

            select {
                width: 400px;
            }
        }
    }

    .results {
        grid-template-columns: repeat(2, 1fr);

        .games {
            .games-details {
                h2 {
                    height: 30px;
                }
            }
        }

    }
}

/* MOBILE MEDIA QUERIE */
@media screen and (max-width: 768px) {
    header {
        h1 {

            text-align: center;
            line-height: 60px;
        }
    }

    .results {
        grid-template-columns: 1fr;

        .games {
            flex-direction: row;

            .games-details {
                padding: 10px;

                h2 {
                    height: 80px;
                }

            }
        }
    }

    .map {
        height: 500px;
    }

    .map-option-select {
        flex-direction: column;
        /* width: 70%; */
        gap: 20px;
        align-items: start;

        .map-options {
            flex-direction: column;
            align-items: start;
        }
    }

    select {
        max-width: 300px;
    }


}